{% extends "base.html" %}
{% block title %}TeLoVendo - Proveedores{% endblock %}

    {% block body %}  
    <h1 class="titulo">Proveedores</h1>
    <table class="table table-striped-columns">
        <thead>
            <tr>
                <th scope="col">ID</th>
                <th scope="col">Nombre</th>
                <th scope="col">Rut</th>
                <th scope="col">Direccion</th>
                <th scope="col">Telefono</th>
                <th scope="col">Email</th>
            </tr>
        </thead>
        <tbody>
            {% for proveedor in proveedores %}
            <tr>
                <th scope="row">{{ proveedor.id }}</th>
                <td>{{ proveedor.nombre }}</td>
                <td>{{ proveedor.rut }}</td>
                <td>{{ proveedor.direccion }}</td>
                <td>{{ proveedor.telefono }}</td>
                <td>{{ proveedor.email }}</td>
            </tr>
            {% endfor %}
            
        </tbody>
    </table>

    <div class="text-end">
    <button type="button" onclick="window.location.href='{% url 'registro_proveedores' %}'" class="btn btn-link">
        <i class="fa-solid fa-plus fa-lg"></i><span class="ms-1">Añadir</span>
    </button>
    </div>
    {% endblock %}