{% extends 'base.html' %}

{% block title %}Login{% endblock %}

{% block body %}

<div class="mx-auto">

    <div class="form-group">
        {% if error %}
        <div class="alert alert-warning" role="alert">
            {{ error }}
        </div>
        {% endif %}
        <form action="" method="post">
            {% csrf_token %}
            {{ formulario_login.as_p }}
            <input type="submit" value="Iniciar Sesión" class="btn btn-primary">
        </form>
    </div>
</div>

{% endblock %}